*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.app{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    padding: 10px 100px;
    background-color: white;
    font-size: 18px;
}
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon{
    width: 100px;
    height: 100px;
}
.nav-el ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
li{
    list-style-type: none;
    cursor: pointer;
}
.body{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.res-list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    flex-wrap: wrap;
}
.res-image{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
.res-card{
    flex-wrap: wrap;
    line-height: 1.7;
    width: 240px;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    align-self: flex-start;
}
.res-card:hover{
    background-color: white;
}
h5{
    font-size: 16px;
}
.dot{
    font-size: 5px;
}
.rating{
    color: green;
}
.input-box{
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
}
input{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    font-family: inherit;
    border: 1px solid black;
    border-radius: 5px;
}
.search-btn{
    font-family: inherit;
    padding: 10px 20px;
    background-color: #3d405b;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.top-res{
    display: flex;
    align-items: center;
    gap: 5px;
}
.shimmer-ui{
    display: flex;
    gap: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.cards{
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}
.topres-btn{
    font-family: inherit;
    background-color: #e9ecef;
    color: #e76f51;
    border: none;
    cursor: pointer;
}
.nav-el button{
    background-color: white;
    border: none;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;

}