/.vscode
/1-Inception/.DS_Store
/2-Igniting/node_modules
/2-Igniting/.parcel-cache
/2-Igniting/dist
/3-Foundation/node_modules
/3-Foundation/.parcel-cache
/3-Foundation/dist
/4-Show-Code/node_modules
/4-Show-Code/.parcel-cache
/4-Show-Code/dist
/4-Show-Code/Assignment/node_modules
/4-Show-Code/Assignment/.parcel-cache
/4-Show-Code/Assignment/dist
/5-Hooked/node_modules
/5-Hooked/.parcel-cache
/5-Hooked/dist
/Assignment/node_modules
/Assignment/.parcel-cache
/Assignment/dist